<nav class="navbar">
  <div class="container nav-wrapper">
    <a class="logo" href="#home">GymCalc</a>
    <ul class="nav-links">
      <li><a href="#home" data-i18n="navHome">Beranda</a></li>
      <li><a href="#features" data-i18n="navFeatures">Fitur</a></li>
      <li><a href="#calculator" data-i18n="navCalculator">Kalkulator</a></li>
    </ul>
    <div class="nav-actions">
      <button class="control-btn" id="themeToggle" type="button">
        <span id="themeIcon">SUN</span>
        <span data-i18n="themeButton">Terang</span>
      </button>
      <button class="control-btn" id="languageToggle" type="button">
        <span>LANG</span>
        <span id="languageLabel">ID</span>
      </button>
    </div>
  </div>
</nav>
